{% extends "abstract/base.html" %}

{% block header %}
    {% include "components/header.html" with categories=categories %}
{% endblock header %}

{% block content %}
<section id="content-wrap" class="blog-single">
    <div class="row">
        <div class="col-twelve">

            <article class="format-standard">  

                 <div class="primary-content">

                    <h1 class="page-title">Sobre Nosotros</h1>	

                    <p><b>Noticias UNA CIAP Calabozo</b> es un proyecto comunitario creado por y para estudiantes, profesores y personal de la Universidad Nacional Abierta (UNA), UNA CIAP Calabozo. Surge como una iniciativa para fortalecer la comunicación interna y fomentar la participación activa de los miembros de la comunidad universitaria.</p>

                    <p>Nuestra plataforma digital tiene como objetivo centralizado servir como fuente de información confiable y actualizada sobre noticias, eventos académicos y novedades relevantes para la comunidad universitaria. A través de <b>Noticias UNA CIAP Calabozo</b>, los usuarios pueden acceder a:</p>
              
                    <ul>
                      <li>Noticias de última hora sobre el acontecer diario de la universidad.</li>
                      <li>Información detallada sobre las actividades académicas programadas.</li>
                      <li>Libros, planes de curso, planes de evaluacion, trabajos practicos, trabajos sustitutivos entro otros.</li>
                    </ul>
              
                    <p><b>Noticias UNA CIAP Calabozo</b> se consolida como un recurso esencial para la comunidad universitaria, promoviendo la transparencia, la cercanía y el sentido de pertenencia entre sus miembros. Invitamos a toda la comunidad a visitar nuestra plataforma digital y mantenerse informada sobre las últimas noticias y eventos de la UNA, Núcleo Calabozo.</p>
              

                   	{% comment %} here the content of about us		 {% endcomment %}

                </div> <!-- end entry-primary -->		  			   


             </article>

         </div> <!-- end col-twelve -->
    </div> <!-- end row -->
    <div class="comments-wrap2"/>

</section> 
{% endblock %}