{% extends "abstract/base.html" %}

{% block content %}
    <section id="content-wrap" class="blog-single">
        <div class="row">
            <div class="col-twelve">
 
                <article class="format-standard">  
 
                    <div class="content-media">
                         <div class="post-thumb">
                             <img src="{{article.related_image.image.url}}"> 
                         </div>  
                     </div>
 
                     <div class="primary-content">
 
                        <h1 class="page-title">{{article.name}}</h1>	
 
                        <ul class="entry-meta">
                            <li class="date">{{article.created_at}}</li>						
                            <li class="cat"><a href="">{{article.article_type.name}}</a></li>				
                        </ul>						
 
                        <p class="lead">{{article.resume}}</p> 
 
                        <p>{{article.content}}</p>
 
                        <div class="author-profile">
                            <img src="{{article.author.avatar.url}}" alt="">
 
                            <div class="about">
                                <h4><a href="#">{{article.author.full_name}}</a></h4>
                                <p>{{article.author.resume}}</p>
                            </div>
                        </div> <!-- end author-profile -->						
 
                    </div> <!-- end entry-primary -->		  			   
 
                    <div class="pagenav group">
                          	   
                    </div>
 
                 </article>
             </div> <!-- end col-twelve -->
        </div> <!-- end row -->
        <div class="comments-wrap">
            <div id="comments" class="row">
                <div class="col-full">

                <h3>{{comments_length}} Comentario(s)</h3>

                <!-- commentlist -->
                <ol class="commentlist">

                    {% for comment in comments_list %}
                        {% include 'components/comment.html' with ci=comment.ci data=comment.data full_name=comment.full_name%}
                    {% endfor %}

                </ol> <!-- Commentlist End -->					

               <!-- respond -->
                {% include 'components/commentForm.html' with comment_status=comment_status article_id=article.pk%}
             </div> <!-- end col-full -->
         </div> <!-- end row comments -->
        </div> 
    </section> <!-- end content -->
 
{% endblock %}