{% extends "abstract/base.html" %}
{% block header %}
    {% include "components/header.html" with categories=categories %}
{% endblock header %}

{% block content %}
<section id="content-wrap" class="blog-single">
    <div class="row">
        <div class="col-twelve">

            <article class="format-standard">  

                 <div class="primary-content">

                    <h1 class="page-title">¡Ayudanos a crecer!</h1>	

                    <p><b>Noticias UNA CIAP Calabozo</b> es un proyecto comunitario con un gran espíritu de código abierto. Su mantenimiento y evolución dependen de la colaboración activa de personal universitario y estudiantil. Sin importar tu área de estudio o cargo, puedes contribuir significativamente a este proyecto.</p>

                    <p>Buscamos personas con diversas habilidades para fortalecer nuestro equipo. Si tienes aptitudes en redacción, administración, codificación o SEO, ¡te invitamos a unirte a nosotros! Tu colaboración es invaluable para mantener <b>Noticias UNA CIAP Calabozo</b> como una fuente de información confiable y actualizada para la comunidad universitaria.</p>

                    <p>Existen diversas formas de contribuir: puedes escribir artículos, crear contenido multimedia, colaborar en la gestión de la plataforma web o aportar ideas para mejorar su funcionamiento. Cada contribución, sin importar cuán pequeña parezca, es esencial para el crecimiento y éxito de este proyecto.</p>

                    <p>Si estás interesado en formar parte del equipo de <b>Noticias UNA CIAP Calabozo</b>, no dudes en contactarnos. Puedes dirigirte a nuestra sede en Calabozo o escribirnos a las siguientes direcciones de correo electrónico:</p>

                    <ul>
                        <li>noticiasuapcalabozo@una.edu.ve</li>
                        <li>colaboracionnoticiasuap@gmail.com</li>
                    </ul>

                    <p>¡Agradecemos de antemano tu interés en apoyar a <b>Noticias UNA CIAP Calabozo</b>! Juntos podemos construir un espacio informativo valioso para la comunidad universitaria.</p>
                   	{% comment %} here the content of about us		 {% endcomment %}

                </div> <!-- end entry-primary -->	
             </article>
         </div> <!-- end col-twelve -->
    </div> <!-- end row -->
    <div class="comments-wrap2"></div>
</section> 
{% endblock %}