<footer>

    <div class="footer-main">

        <div class="row">  

           <div class="col-four tab-full mob-full footer-info">            

             <h4>Acerca de este sitio</h4>

                <p>
                    <b>Noticias UNA CIAP Calabozo</b> es un proyecto comunitario creado por y para estudiantes, profesores y personal de UNA CIAP Calabozo de la UNA. Nuestro objetivo es proporcionar una plataforma centralizada para noticias, información académica y eventos relacionados con la universidad.
                </p>

           </div> <!-- end footer-info -->

           <div class="col-four tab-1-3 mob-1-2 site-links">

               <h4>Enlaces</h4>

               <ul>
                   <li><a href="{% url 'index' %}">Inicio</a></li>
                     <li><a href="{% url 'article_list' 1%}">Articulos</a></li>
                     <li><a href="{% url 'resource_list' 1%}">Recuersos</a></li>
                     <li><a href="{% url 'help_us' %}">¡Ayudanos!</a></li>
                 </ul>

           </div> <!-- end site-links -->  

           <div class="col-four tab-1-3 mob-1-2 social-links">

               <h4>Redes Sociales</h4>
               <ul>
                     <li><a href="#">Facebook</a></li>
                     <li><a href="#">Instagram</a></li>
                </ul>
                          
           </div> <!-- end social links --> 

       </div> <!-- end row -->

    </div> <!-- end footer-main -->

   <div class="footer-bottom">
       <div class="row">

           <div class="col-twelve">
               <div class="copyright">
                  <span>Proyecto Comunitario</span> 
                  <span>Calabozo edo Guarico <a href="http://www.styleshout.com/">Abril 2024</a></span>		         	
              </div>

              <div id="go-top">
                 <a class="smoothscroll" title="Back to Top" href="#top"><i class="icon icon-arrow-up"></i></a>
              </div>         
           </div>

       </div> 
   </div> <!-- end footer-bottom -->  

</footer> 