<header class="short-header">   

    <div class="gradient-block"></div>	

    <div class="row header-content">

        <div class="logo">
          <a href="index.html">Author</a>
       </div>

        <nav id="main-nav-wrap">
             <ul class="main-navigation sf-menu">
                {% if current_page == 'index' %}
                    <li class="current"><a href="{% url 'index'%}" title="">Inicio</a></li>
                {% else %}	
                    <li><a href="{% url 'index'%}" title="">Inicio</a></li>
                {% endif %}

                {% if current_page == 'category_list' %}
                    <li class="current has-children">
                        <a href="#" title="">Categorias</a>
                        <ul class="sub-menu">
                            <li><a href="category.html">Noticias</a></li>
                        </ul>
                    </li>
                {% else %}	
                    <li class="has-children">
                        <a href="#" title="">Categorias</a>
                        <ul class="sub-menu">
                            <li><a href="{% url 'category' 1 1%}">Noticias</a></li>
                        </ul>
                    </li>
                {% endif %}

                {% if current_page == 'article_list' %}
                    <li class="current">
                        <a title="" href="{% url 'article_list' 1%}">Articulos</a>
                    </li>
                {% else %}	
                    <li>
                        <a title="" href="{% url 'article_list' 1%}">Articulos</a>
                    </li>
                {% endif %}

                {% if current_page == 'resource_list' %}
                    <li class="current"><a href="{% url 'resource_list' 1%}" title="">Recursos</a></li>	
                {% else %}	
                    <li><a href="{% url 'resource_list' 1%}" title="">Recursos</a></li>	
                {% endif %}

                {% if current_page == 'about' %}
                    <li class="current" ><a href="{% url 'about' %}" title="">Sobre Nosotros</a></li>
                {% else %}	
                    <li><a href="{% url 'about' %}" title="">Sobre Nosotros</a></li>
                {% endif %}

                {% if current_page == 'help_us' %}
                    <li class="current"><a href="{% url 'help_us' %}" title="">¡Ayudanos!</a></li>										
                {% else %}	
                    <li><a href="{% url 'help_us' %}" title="">¡Ayudanos!</a></li>										
                {% endif %}
                								
                
             </ul>
         </nav> <!-- end main-nav-wrap -->
    </div>     		
    
</header> <!-- end header -->